<!-- feed/templates/favorites.html -->
{% extends 'base.html' %}
{% block content %}

    <h1 class="pacifico-regular-allPage">Your Favorite Posts</h1>
    {% if favorites %}
        <ul>
            {% for post in favorites %}
                <li>
                    <p>{{ post.caption }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.caption }}">
                    {% endif %}
                    {% if post.video %}
                        <video controls>
                            <source src="{{ post.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                    <form action="{% url 'remove_from_favorites' post.id %}" method="post">
                        {% csrf_token %}
                        <br>
                        <button type="submit">Remove from Favorites</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no favorite posts.</p>
    {% endif %}
    <a href="{% url 'feed' %}">Back to Feed</a>

{% endblock %}


