{% load static %}
{% static "images" as baseURL %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Feed Page</h1>

    <!-- Upload box -->
    <div class="upload">

        <div>
            <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="image" accept="image/*" value="Image "><br>  <!-- For image -->
                <input type="file" name="video" accept="video/*" value="Video"><br>  <!-- For video -->
                <textarea name="caption" cols="20" rows="5" placeholder="Your Caption"></textarea><br>
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
    <br>

    <!-- Feed posts -->
    <div>
            <!-- feed/feed.html -->
        {% for post in posts %}
        <div>
            <h3>{{ post.user }}</h3>
        </div>
        <div>
            <!-- profile image -->
            <a href="#">
                <img src="{{ post.user.profile.profileimg.url }}" alt="" width="50" height="50">
            </a>

            <!-- post image -->
            <a href="{{ post.image.url }}">
                <img src="{{ post.image.url }}" alt="">
            </a>
            <p>{{ post.created_at }}</p>
        </div>
        <div>
            <p>{{ post.caption }}</p>
        </div>

        <!-- Like button -->
        <div>
            <form action="{% url 'like_post' post.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">
                    {% if request.user in post.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            </form>
            <p>{{ post.likes.count }} Likes</p>
        </div>
        {% endfor %}
    </div>
    


</body>
</html>