{% extends 'base.html' %}
{% block content %}


<div class="container mt-5">

    <h2 class="text-center ">Upload Media</h2>

    <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data" id="uploadForm">
        {% csrf_token %}
        <div class="mb-3">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" name="image" accept="image/*" value="Image" class="form-control">
        </div>
        <div>
            <label for="video" class="form-label">Select Video</label>
            <input type="file" name="video" accept="video/*" value="Video" class="form-control"> 
        </div><br>
        <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea name="caption" id="caption" cols="20" rows="3" placeholder="Your Caption" class="form-control"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" style="margin-bottom: 30px">Upload</button>
        </div>
    </form>
</div>


{% endblock %}