<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections</title>
</head>
<body>
        <!-- Header Links -->
        <header>
            <ul>
                <li><a href="{% url 'settings' %}">Profile Setting</a></li>
                <li><a href="{% url 'chat' %}">Messages</a></li>
                <li><a href="{% url 'connections' %}">Connections</a></li>
                <li><a href="{% url 'feed' %}">Feed</a> </li>
                <li><a href="{% url 'chat' %}">Chat</a></li>
                <li><a href="{% url 'profilepage' request.user.username %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </header>
        
    <h1>Connections</h1>
</body>
</html>