
{% extends 'base.html' %}
{% block content %}

    <h1 class="pacifico-regular-allPage">C o n n e c t</h1><br>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            {% for users in users reversed %}
                <div class="col-md-5">
                    <div class="card" style="height: 550px; background-color: #343a40; color: white;">
                        <a href="{{ users.profileimg.url }}" style="text-decoration: none; color: inherit;">
                            <img src="{{ users.profileimg.url }}" class="card-img-top" alt="User Image" style="object-fit: cover; height: 350px; object-position: 50% 5%;">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'profilepage' users.username %}" style="text-decoration: none; color: white;">
                                <h5 class="card-title rajdhani-semibold">{{ users.username }}</h5>
                            </a>
                            <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-bottom: 5px; color: white;"><small>{{ users.location }}</small></p>
                            <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-bottom: 5px; color: white;"><small>{{ users.genre }}</small></p>
                            <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-bottom: 5px; color: white;">{{ users.bio }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    

{% endblock %}