
{% extends 'base.html' %}
{% block content %}

    <h1>Home Page</h1><br>
    <div class="user items">
    <!-- user profile items-->
        {% for users in users reversed %}
        <div class="user profile image">
            <img src="{{users.profileimg.url}}" alt="" width="250" height="250">
        </div>
        <div class ="user information">
            <div class="user name">{{users.username}}</div>
            <div class="user location">{{users.location}}</div>
            <div class="user bio">{{users.bio}}</div>
        </div><br><br>
        {% endfor %}
    </div>
    

{% endblock %}